## AIR QUALITY INDEX PRIDECTION

In [112]:
import numpy as np
import pandas as pd
df=pd.read_csv(r"C:\Users\Bhumika\Downloads\AirQualityUCI.csv")
df

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
0,11/23/2004,19:00:00,11.9,2008,-200,50.6,1980,1389,325,220,2562,2342,12.4,74.7,1.0741,Very High
1,11/23/2004,20:00:00,11.5,1918,-200,49.4,1958,1358,335,190,2477,2237,11.5,76.2,1.0324,Very High
2,11/17/2004,18:00:00,10.2,1802,-200,47.7,1924,748,356,192,2235,2452,13.7,52.8,0.8244,Very High
3,11/23/2004,18:00:00,10.2,1982,-200,49.5,1959,1369,322,227,2536,2386,13.2,72.6,1.0936,Very High
4,11/26/2004,18:00:00,10.1,1956,-200,45.2,1877,1389,347,255,2338,2465,15.5,62.8,1.0979,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,3/23/2005,4:00:00,-200.0,993,-200,2.3,604,85,848,65,1160,762,14.5,66.4,1.0919,Very low
9353,3/26/2005,4:00:00,-200.0,1122,-200,6.0,811,181,641,92,1336,1122,16.2,71.2,1.3013,Very low
9354,3/29/2005,4:00:00,-200.0,883,-200,1.3,530,63,997,46,1102,617,13.7,68.2,1.0611,Very low
9355,4/1/2005,4:00:00,-200.0,818,-200,0.8,473,47,1257,41,898,323,13.7,48.8,0.7606,Very low
9356,4/4/2005,4:00:00,-200.0,864,-200,0.8,478,52,1116,43,958,489,11.8,56.0,0.7743,Very low

In [6]:
df.head()

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
0,11/23/2004,19:00:00,11.9,2008,-200,50.6,1980,1389,325,220,2562,2342,12.4,74.7,1.0741,Very High
1,11/23/2004,20:00:00,11.5,1918,-200,49.4,1958,1358,335,190,2477,2237,11.5,76.2,1.0324,Very High
2,11/17/2004,18:00:00,10.2,1802,-200,47.7,1924,748,356,192,2235,2452,13.7,52.8,0.8244,Very High
3,11/23/2004,18:00:00,10.2,1982,-200,49.5,1959,1369,322,227,2536,2386,13.2,72.6,1.0936,Very High
4,11/26/2004,18:00:00,10.1,1956,-200,45.2,1877,1389,347,255,2338,2465,15.5,62.8,1.0979,Very High

In [4]:
df.tail()

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
9352,3/23/2005,4:00:00,-200.0,993,-200,2.3,604,85,848,65,1160,762,14.5,66.4,1.0919,Very low
9353,3/26/2005,4:00:00,-200.0,1122,-200,6.0,811,181,641,92,1336,1122,16.2,71.2,1.3013,Very low
9354,3/29/2005,4:00:00,-200.0,883,-200,1.3,530,63,997,46,1102,617,13.7,68.2,1.0611,Very low
9355,4/1/2005,4:00:00,-200.0,818,-200,0.8,473,47,1257,41,898,323,13.7,48.8,0.7606,Very low
9356,4/4/2005,4:00:00,-200.0,864,-200,0.8,478,52,1116,43,958,489,11.8,56.0,0.7743,Very low

In [7]:
df.describe()

,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9357 non-null   object
 1   Time          9357 non-null   object
 2   CO_GT         9357 non-null   float64
 3   PT08_S1_CO    9357 non-null   int64
 4   NMHC_GT       9357 non-null   int64
 5   C6H6_GT       9357 non-null   float64
 6   PT08_S2_NMHC  9357 non-null   int64
 7   Nox_GT        9357 non-null   int64
 8   PT08_S3_Nox   9357 non-null   int64
 9   NO2_GT        9357 non-null   int64
 10  PT08_S4_NO2   9357 non-null   int64
 11  PT08_S5_O3    9357 non-null   int64
 12  T             9357 non-null   float64
 13  RH            9357 non-null   float64
 14  AH            9357 non-null   float64
 15  CO_level      9357 non-null   object
dtypes: float64(5), int64(8), object(3)
memory usage: 1.1+ MB

In [10]:
df.shape

(9357, 16)

In [11]:
df.columns

Index(['Date', 'Time', 'CO_GT', 'PT08_S1_CO', 'NMHC_GT', 'C6H6_GT',
       'PT08_S2_NMHC', 'Nox_GT', 'PT08_S3_Nox', 'NO2_GT', 'PT08_S4_NO2',
       'PT08_S5_O3', 'T', 'RH', 'AH', 'CO_level'],
      dtype='object')

In [12]:
df.isnull().sum()

Date            0
Time            0
CO_GT           0
PT08_S1_CO      0
NMHC_GT         0
C6H6_GT         0
PT08_S2_NMHC    0
Nox_GT          0
PT08_S3_Nox     0
NO2_GT          0
PT08_S4_NO2     0
PT08_S5_O3      0
T               0
RH              0
AH              0
CO_level        0
dtype: int64

In [13]:
df['NMHC_GT'].value_counts()

NMHC_GT
-200    8443
 66       14
 29        9
 40        9
 93        8
        ...
 206       1
 268       1
 320       1
 270       1
 10        1
Name: count, Length: 430, dtype: int64

In [18]:
df.drop('NMHC_GT',axis=1,inplace=True)

In [19]:
df.columns

Index(['Date', 'Time', 'CO_GT', 'PT08_S1_CO', 'C6H6_GT', 'PT08_S2_NMHC',
       'Nox_GT', 'PT08_S3_Nox', 'NO2_GT', 'PT08_S4_NO2', 'PT08_S5_O3', 'T',
       'RH', 'AH', 'CO_level'],
      dtype='object')

In [8]:
df.shape

(9357, 16)

In [47]:
df['CO_GT'].value_counts()

CO_GT
-200.0    1683
 1.0       305
 1.4       279
 1.6       275
 1.5       273
          ...
 9.2         1
 8.5         1
 7.6         1
 7.0         1
 11.9        1
Name: count, Length: 97, dtype: int64

In [118]:
df=df.replace(to_replace=-200,value=np.NaN)
df

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
0,11/23/2004,19:00:00,11.9,2008.0,NaN,50.6,1980.0,1389.0,325.0,220.0,2562.0,2342.0,12.4,74.7,1.0741,Very High
1,11/23/2004,20:00:00,11.5,1918.0,NaN,49.4,1958.0,1358.0,335.0,190.0,2477.0,2237.0,11.5,76.2,1.0324,Very High
2,11/17/2004,18:00:00,10.2,1802.0,NaN,47.7,1924.0,748.0,356.0,192.0,2235.0,2452.0,13.7,52.8,0.8244,Very High
3,11/23/2004,18:00:00,10.2,1982.0,NaN,49.5,1959.0,1369.0,322.0,227.0,2536.0,2386.0,13.2,72.6,1.0936,Very High
4,11/26/2004,18:00:00,10.1,1956.0,NaN,45.2,1877.0,1389.0,347.0,255.0,2338.0,2465.0,15.5,62.8,1.0979,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,3/23/2005,4:00:00,NaN,993.0,NaN,2.3,604.0,85.0,848.0,65.0,1160.0,762.0,14.5,66.4,1.0919,Very low
9353,3/26/2005,4:00:00,NaN,1122.0,NaN,6.0,811.0,181.0,641.0,92.0,1336.0,1122.0,16.2,71.2,1.3013,Very low
9354,3/29/2005,4:00:00,NaN,883.0,NaN,1.3,530.0,63.0,997.0,46.0,1102.0,617.0,13.7,68.2,1.0611,Very low
9355,4/1/2005,4:00:00,NaN,818.0,NaN,0.8,473.0,47.0,1257.0,41.0,898.0,323.0,13.7,48.8,0.7606,Very low
9356,4/4/2005,4:00:00,NaN,864.0,NaN,0.8,478.0,52.0,1116.0,43.0,958.0,489.0,11.8,56.0,0.7743,Very low

In [54]:
df.isnull().sum()

Date               0
Time               0
CO_GT           1683
PT08_S1_CO       366
NMHC_GT         8443
C6H6_GT          366
PT08_S2_NMHC     366
Nox_GT          1639
PT08_S3_Nox      366
NO2_GT          1642
PT08_S4_NO2      366
PT08_S5_O3       366
T                366
RH               366
AH               366
CO_level           0
dtype: int64

In [77]:
df.tail()

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
9352,3/23/2005,4:00:00,NaN,993.0,NaN,2.3,604.0,85.0,848.0,65.0,1160.0,762.0,14.5,66.4,1.0919,Very low
9353,3/26/2005,4:00:00,NaN,1122.0,NaN,6.0,811.0,181.0,641.0,92.0,1336.0,1122.0,16.2,71.2,1.3013,Very low
9354,3/29/2005,4:00:00,NaN,883.0,NaN,1.3,530.0,63.0,997.0,46.0,1102.0,617.0,13.7,68.2,1.0611,Very low
9355,4/1/2005,4:00:00,NaN,818.0,NaN,0.8,473.0,47.0,1257.0,41.0,898.0,323.0,13.7,48.8,0.7606,Very low
9356,4/4/2005,4:00:00,NaN,864.0,NaN,0.8,478.0,52.0,1116.0,43.0,958.0,489.0,11.8,56.0,0.7743,Very low

In [119]:
df.mean

<bound method DataFrame.mean of             Date      Time  CO_GT  PT08_S1_CO  NMHC_GT  C6H6_GT  PT08_S2_NMHC  \
0     11/23/2004  19:00:00   11.9      2008.0      NaN     50.6        1980.0
1     11/23/2004  20:00:00   11.5      1918.0      NaN     49.4        1958.0
2     11/17/2004  18:00:00   10.2      1802.0      NaN     47.7        1924.0
3     11/23/2004  18:00:00   10.2      1982.0      NaN     49.5        1959.0
4     11/26/2004  18:00:00   10.1      1956.0      NaN     45.2        1877.0
...          ...       ...    ...         ...      ...      ...           ...
9352   3/23/2005   4:00:00    NaN       993.0      NaN      2.3         604.0
9353   3/26/2005   4:00:00    NaN      1122.0      NaN      6.0         811.0
9354   3/29/2005   4:00:00    NaN       883.0      NaN      1.3         530.0
9355    4/1/2005   4:00:00    NaN       818.0      NaN      0.8         473.0
9356    4/4/2005   4:00:00    NaN       864.0      NaN      0.8         478.0

      Nox_GT  PT08_S3_Nox  NO2_GT  PT08_S4_NO2  PT08_S5_O3     T    RH  \
0     1389.0        325.0   220.0       2562.0      2342.0  12.4  74.7
1     1358.0        335.0   190.0       2477.0      2237.0  11.5  76.2
2      748.0        356.0   192.0       2235.0      2452.0  13.7  52.8
3     1369.0        322.0   227.0       2536.0      2386.0  13.2  72.6
4     1389.0        347.0   255.0       2338.0      2465.0  15.5  62.8
...      ...          ...     ...          ...         ...   ...   ...
9352    85.0        848.0    65.0       1160.0       762.0  14.5  66.4
9353   181.0        641.0    92.0       1336.0      1122.0  16.2  71.2
9354    63.0        997.0    46.0       1102.0       617.0  13.7  68.2
9355    47.0       1257.0    41.0        898.0       323.0  13.7  48.8
9356    52.0       1116.0    43.0        958.0       489.0  11.8  56.0

          AH   CO_level
0     1.0741  Very High
1     1.0324  Very High
2     0.8244  Very High
3     1.0936  Very High
4     1.0979  Very High
...      ...        ...
9352  1.0919   Very low
9353  1.3013   Very low
9354  1.0611   Very low
9355  0.7606   Very low
9356  0.7743   Very low

[9357 rows x 16 columns]>

In [120]:
df=df.fillna(df.mean)
df

,Date,Time,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
0,11/23/2004,19:00:00,11.9,2008.0,<bound method DataFrame.mean of Da...,50.6,1980.0,1389.0,325.0,220.0,2562.0,2342.0,12.4,74.7,1.0741,Very High
1,11/23/2004,20:00:00,11.5,1918.0,<bound method DataFrame.mean of Da...,49.4,1958.0,1358.0,335.0,190.0,2477.0,2237.0,11.5,76.2,1.0324,Very High
2,11/17/2004,18:00:00,10.2,1802.0,<bound method DataFrame.mean of Da...,47.7,1924.0,748.0,356.0,192.0,2235.0,2452.0,13.7,52.8,0.8244,Very High
3,11/23/2004,18:00:00,10.2,1982.0,<bound method DataFrame.mean of Da...,49.5,1959.0,1369.0,322.0,227.0,2536.0,2386.0,13.2,72.6,1.0936,Very High
4,11/26/2004,18:00:00,10.1,1956.0,<bound method DataFrame.mean of Da...,45.2,1877.0,1389.0,347.0,255.0,2338.0,2465.0,15.5,62.8,1.0979,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,3/23/2005,4:00:00,<bound method DataFrame.mean of Da...,993.0,<bound method DataFrame.mean of Da...,2.3,604.0,85.0,848.0,65.0,1160.0,762.0,14.5,66.4,1.0919,Very low
9353,3/26/2005,4:00:00,<bound method DataFrame.mean of Da...,1122.0,<bound method DataFrame.mean of Da...,6.0,811.0,181.0,641.0,92.0,1336.0,1122.0,16.2,71.2,1.3013,Very low
9354,3/29/2005,4:00:00,<bound method DataFrame.mean of Da...,883.0,<bound method DataFrame.mean of Da...,1.3,530.0,63.0,997.0,46.0,1102.0,617.0,13.7,68.2,1.0611,Very low
9355,4/1/2005,4:00:00,<bound method DataFrame.mean of Da...,818.0,<bound method DataFrame.mean of Da...,0.8,473.0,47.0,1257.0,41.0,898.0,323.0,13.7,48.8,0.7606,Very low
9356,4/4/2005,4:00:00,<bound method DataFrame.mean of Da...,864.0,<bound method DataFrame.mean of Da...,0.8,478.0,52.0,1116.0,43.0,958.0,489.0,11.8,56.0,0.7743,Very low

In [121]:
df.isnull().sum()

Date            0
Time            0
CO_GT           0
PT08_S1_CO      0
NMHC_GT         0
C6H6_GT         0
PT08_S2_NMHC    0
Nox_GT          0
PT08_S3_Nox     0
NO2_GT          0
PT08_S4_NO2     0
PT08_S5_O3      0
T               0
RH              0
AH              0
CO_level        0
dtype: int64